.satoshi-font{
  font-family: 'Satoshi', sans-serif;
}

.playfair-font{
  font-family: 'Playfair Display', serif;
}

p,span{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  line-height: 19px;
  letter-spacing: 0em;
}

.custom-nav{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.option__chaining{
  width: 1280px;
  height: 780px;
  background: #FBFBFB;
}

.custom-modal {
  position: fixed;
  inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
}

.custom-modal-content {
  width: 618px;
  height: 382px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  /* color: #fff; */
}
